@model IEnumerable<FirstMVC.Models.FriendModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FriendID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPlace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FriendID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPlace)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FriendID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FriendID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FriendID })
            </td>
        </tr>
}
    </tbody>
</table>
